venv/
backend/venv/
node_modules/
frontend/node_modules/
dist/
.env
__pycache__/
*.pyc
ImageAuthentication/image-auth-env/
ImageAuthentication/ImageTamperingModule/dataset/
ImageAuthentication/ImageTamperingModule/dataset_small/
ImageAuthentication/AIvsRealCheckModule/dataset/
backend/uploads/
image-weights/
models/
temp/
public/
backend/debate_engine/dataset/
backend/raw_cases
backend/raw_pdfs